<p *ngIf="(state$ | async)?.loading; else ifNotLoading">CARGANDO DATA...</p>

<ng-template #ifNotLoading>
  <!-- <pre>{{ (state$ | async)?.inscripciones | json }}</pre> -->
  <button (click)="crearInscripcion()" type="button" color="primary" mat-flat-button>
    <mat-icon>add</mat-icon>
    Crear inscripcion
  </button>

 
  <table class="table table-dark table-striped-columns" >
    <thead >
      <tr class="table-info">
        
        <th scope="col">Estudiante</th>
        <th scope="col">Materia</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inscripcion of (state$ | async)?.inscripciones">
        
        <td>{{ inscripcion.student.nombre }}</td>
        <td>{{inscripcion.subject.nombre}}</td>
        <td>

          <button (click)="eliminarInscripcionPorId(inscripcion.id)" mat-icon-button color="warn" type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      
    </tbody>
  </table>
</ng-template>


